body , html {
    font-family: "Poppins Light";
    background-color: #060818;
}

h1,h2,h3,h4,h5,h6{
    color: #ebedf2;
}
.title{
    text-align: center;
    margin: auto;
    font-weight: 400;
    color: #fff;
}
.subtitle{
    background: -webkit-linear-gradient(45deg, #c97874 10%, #463042 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8c5059;
    font-weight: 400;
    margin: 0 auto 3em;
    max-width: 9em;
    text-align: center;
}

th, td{
    vertical-align: middle !important;
}

textarea{
    resize: none;
}
.form-group label, label {
    font-size: 15px;
    color: #acb0c3;
}
.form-control.form-control-sm {
    padding: 7px 16px;
    font-size: 13px;
}
.form-control {
    border: 1px solid #1b2e4b;
    color: #009688;
    font-size: 15px;
    height: calc(1.4em + 1.4rem + 2px);
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    background: #1b2e4b;
}
.form-control:focus {
    box-shadow: none;
    border-color: #3b3f5c;
    color: #25d5e4;
    background-color: #1b2e4b;
}
.form-control[readonly] {
    background-color: #3b3f5c;
    cursor: no-drop;
    color: #d3d3d3;
}


/* Table */
.table .btn svg {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.table > thead > tr > th {
    color: #d3d3d3;
}
.table > thead > tr > th {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}
.table td, .table th, .table thead th {
    border-color: #191e3a !important;
}
.table-bordered th {
    border: 1px solid #ebedf2;
}

/***********************/
/*    Custom Switch    */
/***********************/
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px; }
.switch input {
    display: none; }
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #888ea8;
    -webkit-transition: .4s;
    transition: .4s; }
.switch .slider:before {
    position: absolute;
    content: "";
    background-color: white;
    -webkit-transition: .4s;
    -ms-transition: .4s;
    transition: .4s;
    height: 14px;
    width: 14px;
    right: 2px;
    bottom: 2px;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34); }
.switch input:checked + .slider:before {
    -webkit-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    transform: translateX(-17px); }
.switch .slider.round {
    border-radius: 34px; }
.switch .slider.round:before {
    border-radius: 50%; }
.switch.s-icons.s-outline-warning {
    color: #e2a03f; }
.switch.s-outline-warning input:checked + .slider {
    border: 2px solid #e2a03f; }
.switch.s-outline-warning input:checked + .slider:before {
    border: 2px solid #e2a03f;
    background-color: #e2a03f;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34); }
.switch.s-outline-warning input:focus + .slider {
    box-shadow: 0 0 1px #e2a03f; }

.switch.s-icons {
    width: 57px;
    height: 30px; }
.switch.s-icons .slider {
    width: 48px;
    height: 25px; }
.switch.s-icons .slider:before {
    vertical-align: sub;
    color: #3b3f5c;
    height: 19px;
    width: 19px;
    line-height: 1.3;
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23e9ecef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'); }
.switch.s-icons input:checked + .slider:before {
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
    vertical-align: sub;
    color: #fff;
    line-height: 1.4;
    -webkit-transform: translateX(-23px);
    -ms-transform: translateX(-23px);
    transform: translateX(-23px); }
.switch.s-outline-warning .slider:before {
    bottom: 1px;
    right: 1px;
    border: 2px solid #888ea8;
    background-color: #888ea8;
    color: #ebedf2;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 25%);
}
.switch.s-icons .slider:before {
    vertical-align: sub;
    color: #3b3f5c;
    height: 19px;
    width: 19px;
    line-height: 1.3;
    content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23e9ecef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

/*******************/
/*    Nav Tabs     */
/*******************/
.nav-tabs {
    border-bottom: 1px solid #ebedf2; }
.nav-tabs svg {
    width: 20px;
    vertical-align: bottom; }
.nav-tabs .nav-link.active {
    color: #e95f2b;
    background-color: #191e3a;
    border-color: #191e3a #191e3a #0e1726; }
.nav-tabs .nav-link.active:after {
    color: #e95f2b; }
.nav-tabs .nav-link:hover {
    border-color: #191e3a #191e3a #191e3a; }
.simple-tab .nav-tabs li a {
    color: #888ea8; }
.simple-tab .nav-tabs .nav-item.show .nav-link, .simple-tab .nav-tabs .nav-link.active {
    color: #25d5e4;
    font-weight: 600;
    background-color: #0e1726;
    border-color: #191e3a #191e3a #0e1726; }

.nav-tabs {
    border-bottom: 1px solid #191e3a; }


/****************/
/* Result List  */
/****************/
#result {
    margin-top: 50px;
}
#result h2{
    font-size: 22px;
    color : #e95f2b;
    text-transform: capitalize;
}
.result-list li{
    color : #b9b9b9;
    padding: 5px;
}
.result-list li:not(:last-child){
    border-bottom: 1px dashed #25d5e4;
}